.link5 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    font-size: 18px;
    color: #6f6c90;
    font-family: "DM Sans";
  }
  