.footer {
    background-color: #f9f9f9;
    padding: 40px 20px;
    font-family: 'DM Sans', sans-serif;
    color: #333;
    border-top: 2px solid #e0e0e0;  // Added a top border
  
    .footer-content {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      flex-wrap: wrap;
    }
  
    .footer-logo-section {
      flex: 1 1 200px;
      max-width: 250px;
  
      .footer-logo {
        width: 215px;
        margin-bottom: 20px;
      }
  
      .footer-description {
        font-size: 18px;
        color: #666;
        margin-bottom: 20px;
      }
  
      .footer-socials {
        display: flex;
        gap: 10px;
  
        .footer-social-icon {
          font-size: 20px;
          color: #1c1c1e;
          cursor: pointer;
  
          &:hover {
            color: #017cfd;
          }
        }
      }
    }
  
    .footer-links {
      display: flex;
      justify-content: space-between;
      flex: 2 1 600px;
      flex-wrap: wrap;
  
      .footer-column {
        flex: 1;
        min-width: 150px;
  
        .footer-title {
          font-weight: bold;
          font-size: 18px;
          margin-bottom: 15px;
          color: #1c1c1e;
        }
  
        ul {
          list-style: none;
          padding: 0;
  
          li {
            margin-bottom: 10px;
            font-size: 18px;
            color: #666;
          }
        }
      }
    }
  
    .footer-bottom {
      text-align: center;
      margin-top: 40px;
      border-top: 1px solid #e0e0e0;
      padding-top: 20px;
      font-size: 14px;
      color: #666;
  
      a {
        color: #666;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  